.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #451ba7;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  color: #fff;
  font-weight: 800;
  font-size: 30px;
}

.weather-div {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-div input {
  width: 80%;
  height: 40px;
  padding: 5px;
}

.weather-div button {
  width: 100px;
  height: 40px;
  padding: 5px;
  font-weight: 400;
  border: none;
  border-radius: 10px !important;
  background: rgb(46, 8, 182);
  color: white;
  cursor: pointer;
}

.info-container {
  width: 90%;
  height: auto;
  color: blue;
  text-align: center;
  margin-top:30px;
}

